<header>
  <nav>
    <a href="/">Book inventory</a>
    <ul>
      <li><a href="/api/v1/books/all">All Books</a></li>
      <li><a href="/api/v1/books/">Add book</a></li>
      <li><a href="/api/v1/books/refresh">New Access Token</a></li>
    </ul>
  </nav>
</header>